{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %} Manage | Meetings {% endblock title %}
{% block optionalCSS %}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .container {
        max-width: 960px;
    }

    .pricing-header {
        max-width: 700px;
    }

    .card-deck .card {
        min-width: 220px;
    }
</style>
<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock optionalCSS %}

{% block optionalJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock optionalJS %}
</head>
{% block mainBody%}

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'manage' %}">
            <img id="dghLogo" src="{% static "img/logo_dgh1_psd.png" %}" alt="DGH Logo" height="30">
            Meeting Management</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'manage' %}">
                                <span data-feather="home"></span>
                                 <h5>Welcome, {{ user.user.first_name }} {{ user.user.last_name}} </h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                New Meeting Requests
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                My Meetings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Calendar
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="container align-items-center pt-5 pb-2 mb-3 border-bottom">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header bg-warning shadow">
                                <h4 class="my-0 font-weight-normal">Meeting Requests</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ meetings|get_meeting_count:"Submitted" }} <small class="text-muted"> new</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Recently submitted </li>
                                    <li>Meeting requests</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">View</button>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header bg-success shadow">
                                <h4 class="my-0 font-weight-normal">Scheduled Meetings</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ meetings|get_meeting_count:"Approved" }}  <small class="text-muted"> scheduled</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Approved meetings</li>
                                    <li>added to calendar</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">View</button>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header bg-info shadow">
                                <h4 class="my-0 font-weight-normal">All Meetings</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ meetings|get_meeting_count:"All" }} <small class="text-muted"> total</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Total meetings</li>
                                    <li>including expired/rejected</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">View</button>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>

</body>
{% endblock mainBody%}

</html>