{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Request Meeting {% endblock title %}
{% block optionalCSS %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .container {
    max-width: 960px;
  }

  .lh-condensed {
    line-height: 1.25;
  }
</style>
{% endblock optionalCSS %}
{% block bodyContent %}

<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>New Meeting Request</h2>
      <p class="lead">Please fill the form below to request for a meeting with DGH officials</p>
    </div>

    <div class="row justify-content-center">
      <div class="accordion" id="meetingRequestAccordion">

        <div class="card">

          <div class="card-header" id="personalDetailsHeader">
            <h3 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#personalDetails"
                aria-expanded="true" aria-controls="personalDetails" disabled>
                <h5>Personal Details</h5>
              </button>
            </h3>
          </div>

          <div id="personalDetails" class="collapse show" aria-labelledby="personalDetailsHeader"
            data-parent="#meetingRequestAccordion">
            <div class="card-body">
              <form class="needs-validation" novalidate action="{% url 'submitted' %}">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ form.first_name | as_crispy_field }}
                  </div>
                  <div class="invalid-feedback">
                    Valid first name is required
                  </div>
                  <div class="col-md-6 mb-3">
                    {{ form.last_name | as_crispy_field }}
                    <div class="invalid-feedback">
                      Valid last name is required
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  {{ form.company | as_crispy_field }}
                  <div class="invalid-feedback">
                    Please enter a valid company
                  </div>
                </div>

                <div class="mb-3">
                  {{ form.designation | as_crispy_field }}
                  <div class="invalid-feedback">
                    Please enter a valid designation
                  </div>
                </div>

                <div class="mb-3">
                  {{ form.email | as_crispy_field }}
                  <div class="invalid-feedback">
                    Please enter a valid email address
                  </div>
                </div>

                <div class="mb-3">
                  {{ form.contact_no | as_crispy_field }}
                  <div class="invalid-feedback">
                    Please enter your contact number
                  </div>
                </div>
                <br>

                <div class="mb-3">
                  <div class="form-inline">
                    {{ captcha_form.captcha_for_otp }}
                    <img src="{% static 'img/captcha_reload.png' %}" height="39px" class="ml-1" title="Reload Captcha">
                    <button class="btn btn-primary ml-auto" type="button" id="verifyCaptcha">Request OTP</button>
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="alertModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Incorrect Captcha! Please try again</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; DGH</p>
    </footer>
  </div>
  <script>
    $(document).ready(function () {
      $("#{{ captcha_form.captcha_for_otp.id_for_label }}").addClass('form-control ml-1').attr('placeholder', 'Enter Text in Image');
      $("#verifyCaptcha").click(function () {
        var formData = new FormData();
        formData.set('captcha_for_otp_0', $("#captcha_for_otp_0").val());
        formData.append('captcha_for_otp_1', $("#captcha_for_otp_0").val());
        console.log(formData);
        if ("25" == $("#captcha").val()) {
          $(this).removeClass("btn-primary").addClass("btn-success").html("Verified").attr("disabled", "true");
          $("#meetingDetails").show();
        } else {
          $("#alertModal").modal();
        }
      });
    });
  </script>
  {% endblock bodyContent %}