{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Status | Meetings {% endblock title %}
{% block optionalCSS %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .container {
        max-width: 960px;
    }

    .lh-condensed {
        line-height: 1.25;
    }

    .asteriskField {
        color: red;
    }
</style>
{% endblock optionalCSS %}

{% block bodyContent %}
<div class="container">
    <div class="py-4 text-center">
        <h2>Meeting Request Status</h2>
    </div>

    <div class="inner-wrapper mt-auto mb-auto container">
        <div class="row justify-content-between">
            <div class="shadow-lg col-12 mx-3 mb-3 px-md-5 py-md-4 px-3 py-2 card font-weight-normal">

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Meeting Status : <i>{{ meeting.get_status_display }}</i></h4>
                    <p>Your request number <strong>{{ meeting.id }}</strong> has been forwarded to <i>{{ meeting.requested_official }}</i> for approval</p>
                    <hr>
                    <p class="mb-0">Please check email for updates.</p>
                </div>

            </div>

        </div>
    </div>

    <footer class="text-center text-small">
        <p class="mb-1">&copy; DGH</p>
    </footer>
</div>
{% endblock bodyContent %}