{% extends 'base.html' %}
{% load static %}
{% block title %} Request Meeting {% endblock title %}
{% block optionalCSS %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .container {
        max-width: 960px;
    }

    .lh-condensed {
        line-height: 1.25;
    }
</style>
{% endblock optionalCSS %}
{% block bodyContent %}

<body class="bg-light">
    <div class="container">
        <div class="card">
            <div class="card-body">


                <div class="py-5 text-center">
                    <h2 class="text-success">Request submitted</h2>
                    <p class="lead">Your request with ID MEET/17June/DG has been forwarded for approval. Please check email for updates</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2020 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="alertModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Incorrect Captcha! Please try again</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#verifyCaptcha").click(function () {
                if ("25" == $("#captcha").val()) {
                    $(this).removeClass("btn-primary").addClass("btn-success").html("Verified").attr("disabled", "true");
                    $("#meetingDetails").show();
                } else {
                    $("#alertModal").modal('show');
                }
            });
        });
    </script>
    {% endblock bodyContent %}